<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mergeTest" type="NConfig.Tests.DeepMergerTestSection, NConfig.Tests"/>
  </configSections>

  <!-- Overrides all -->

  <mergeTest>
    <OverriddenProperty value="test" />
    
    <ClearCollection>
      <ele name="test1" />
      <ele name="test2" />
    </ClearCollection>
  </mergeTest>
</configuration>