<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mergeTest" type="NConfig.Tests.DeepMergerTestSection, NConfig.Tests"/>
  </configSections>

  <!-- Overrides all -->
  
  <mergeTest>
    <OverriddenProperty value="override2" />
    <!-- JumpOverProperty not existing -->
    <NewEmptyProperty value="" />
    <NewNullProperty name="testName" /> <!-- no value -->

    <ClearCollection>
      <clear />
      <ele name="test1" value="test" />
      <ele name="test2" />
      <ele name="test4" value="test" />
    </ClearCollection>

    <RemoveCollection>
      <remove name="removeSame" />
      <ele name="removeSame" value="test" />
      <remove name="fullRemove" />
      <ele name="removedLower" value="test" />
      <ele name="removedLowerWithSpace" value="test" />
    </RemoveCollection>

    <SubCollection>
      <main name="test1">
        <values>
          <sub name="t1" value="test" />
          <sub name="t2" value="override" />
          <remove name="removed" />
        </values>
      </main>
      <main name="test2">
        <values>
          <sub name="t1" value="test2" />
          <remove name="t2" />
        </values>
      </main>
    </SubCollection>
  </mergeTest>
</configuration>