<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mergeTest" type="NConfig.Tests.DeepMergerTestSection, NConfig.Tests"/>
  </configSections>

  <!-- Overrides all -->

  <mergeTest>
    <JumpOverProperty value="test" />
    
    <ClearCollection>
      <ele name="test1" />
      <ele name="test2" />
    </ClearCollection>

    <RemoveCollection>
      <ele name="removeSame" value="overrided" />
      <ele name="fullRemove" value="removed" />
      <ele name="fullRemoveLower" value="removed" />
      <ele name="removedLower" value="removed" />
      <remove name="removedLowerWithSpace" />
    </RemoveCollection>
  </mergeTest>
</configuration>