<?xml version="1.0"?>
<configuration>
    
    <!--<system.serviceModel>
        <client>
            <endpoint name="WsHttpSimple"
              address="http://localhost:8001/SimpleService"
              binding="wsHttpBinding"
               
              contract="Services.ServiceContracts.ISimpleService">
            </endpoint>
        </client>
    </system.serviceModel>-->

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
