<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <system.serviceModel>
    <client>
      
      <endpoint
        name="WsHttpSimple"
        address="http://localhost:8001/SimpleService"
        binding="wsHttpBinding"
        bindingConfiguration="wsHttpSimpleBinding"
        contract="Services.ServiceContracts.ISimpleService">
      </endpoint>
      
    </client>
    
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpSimpleBinding">
        </binding>
      </wsHttpBinding>
      
    </bindings>
    
  </system.serviceModel>
</configuration>