<?xml version="1.0"?>
<configuration>

    <system.serviceModel>

        <services>
            <service name="Services.Services.SimpleService"
                behaviorConfiguration="HostBehavior">

                <endpoint address="http://localhost:8001/SimpleService"
                          binding="wsHttpBinding"
                          bindingConfiguration="wsHttpHostConfig"
                          contract="Services.ServiceContracts.ISimpleService">
                </endpoint>
            </service>
        </services>

        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpHostConfig">
                </binding>
            </wsHttpBinding>
        </bindings>

        <behaviors>
            <serviceBehaviors>
                <behavior name="HostBehavior">
                    <serviceMetadata httpGetEnabled="true"  httpGetUrl="http://localhost:8001/SimpleService/wsdl" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
