<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="TestConfig" type="ConsoleTest.TestConfig, ConsoleTest"/>       
    </configSections>

    <connectionStrings>
        <add name="JJJJ" connectionString="TTTT"/>
    </connectionStrings>
    

    <TestConfig testValue ="Вот жешь бля" />

</configuration>