<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hostMap" type="NConfig.HostMapSection, NConfig"/>
  </configSections>

  <hostMap>
    <add host="wrk09" alias="Tests"/>
    <add host="sky" alias="Tests"/>
  </hostMap>
  
  
  <appSettings>
    <add key="Test" value="TestValue"/>
    <add key="Test2" value="Test2Value"/>
  </appSettings>

  <connectionStrings>
    <add name="TestConnectString" connectionString="TestConnectStringValue"/>
    <add name="TestConnectString2" connectionString="TestConnectString2Value"/>
  </connectionStrings>

</configuration>