<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestSection" type="NConfig.Tests.TestSection, NConfig.Tests"/>
  </configSections>
  
  <appSettings>
    <add key="Test" value="Alased"/>
    <add key="AliasedTest" value="Aliased"/>
  </appSettings>

  <connectionStrings>
    <add name="TestConnectString" connectionString="Aliased"/>
    <add name="AnotherTestConnectString" connectionString="Aliased"/>
  </connectionStrings>

  <TestSection value="Aliased"/>
  
</configuration>