<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestSection" type="NConfig.Tests.TestSection, NConfig.Tests"/>
  </configSections>
  
  <appSettings>
    <add key="Test" value="AlasedOverridenValue"/>
    <add key="AliasedTest" value="AliasedValue"/>
  </appSettings>

  <connectionStrings>
    <add name="TestConnectString" connectionString="Aliased.ConnectString"/>
    <add name="AnotherTestConnectString" connectionString="AnotherTestConnectStringValue"/>
  </connectionStrings>

  <TestSection value="test value"/>
  
</configuration>