<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EmptySection" type="NConfig.Tests.MergeSection, NConfig.Tests"/>
    <section name="FullSection" type="NConfig.Tests.MergeSection, NConfig.Tests"/>
    <section name="OverrideSection" type="NConfig.Tests.MergeSection, NConfig.Tests"/>    
  </configSections>

  <FullSection
      StringValue="FULL"
      IntValue="4321"
      BoolValue="false"
  />

  <OverrideSection
      StringValue="OVERRIDE"
      BoolValue="true"
  />

</configuration>