<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EmptySection" type="NConfig.Tests.TestSection, NConfig.Tests"/>
  </configSections>


  <appSettings>
    <add key="Test" value="NConfigTest"/>
    <add key="AnotherTest" value="NConfigTest"/>
  </appSettings>

  <connectionStrings>
    <add name="TestConnectString" connectionString="NConfigTest"/>
    <add name="AnotherTestConnectString" connectionString="NConfigTest"/>
  </connectionStrings>
  
</configuration>