<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Test" value="NConfigTest.Value"/>
    <add key="AnotherTest" value="AnotherTestValue"/>
  </appSettings>

  <connectionStrings>
    <add name="TestConnectString" connectionString="NConfigTest.ConnectString"/>
    <add name="AnotherTestConnectString" connectionString="AnotherTestConnectStringValue"/>
  </connectionStrings>
  
</configuration>